@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0c041a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c041a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute; /*anchor body*/
  height: 100%;
  width: 100%;
  margin: 0;
}
.wrapper {
  background: rgb(94, 55, 55);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: rgb(0, 0, 0);
  font-size:x-large;
  width: 100%;
  text-align: left;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

main {
  flex: 1; /*stretches content to fit max length*/
  display: flex;
  flex-direction: column;
  background: #0f0a16;
  width: 1000px;
  max-width: 100%;
}

.maincontent {
  flex: 1;
  background: #1d1729;
  justify-items: center;
  margin: 10px 50px 10px 50px;
}

.navbar {
  flex: 1;
  justify-items: right;
}
.navbuttons {
  display: flex;
  justify-items: space-between;
}

li {
  padding: 0 20px 0 20px;
}

footer {
  background: #0c041a;
  width: 100%;
}
